<div class="d-flex me-auto" th:fragment="breadcrumbs(path)">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item" th:if="${!breadcrumbsNames.isEmpty()}" th:each="item, iterStat : ${breadcrumbsLinks}">
        <a th:href="@{/(path=${item})}"
           th:text="${breadcrumbsNames.get(iterStat)}">
        </a>
      </li>
    </ol>
  </nav>
</div>