<div th:fragment="file-list">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" class="col-flex">Name</th>
      <th scope="col" class="col-min text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
      <td>
        <span th:if="${file.isDir()}" class="font-weight-bold">
          <a th:href="@{/{path}(path=${file.getFileName()})}" th:text="${file.getFileName()}"></a>
        </span>
        <span th:if="${!file.isDir()}" th:text="${file.getFileName()}"></span>
      </td>
      <td class="actions-cell">
        <button class="btn btn-outline-info btn-sm" disabled>Rename</button>
        <button class="btn btn-outline-warning btn-sm" disabled>Download</button>
        <button class="btn btn-outline-danger btn-sm" disabled>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>